.register-layout {
  background-image: url(//bizweb.dktcdn.net/100/463/111/themes/889675/assets/bg_custom.png?1685679333702);
  background-size: cover;
  object-fit: cover;
}
input {
  height: 35px;
}

@media only screen and (max-width: 800px)  {
  .register-layout {
    background-image: none;
    background: linear-gradient(#0042be,#8bcbff, #a5cfff);
    height: 100vh;

  }

  .signup-respon {
    height: 100%;
  }
}
