@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --menuWidth: calc(100% - 20px);
  --leftColBackground: #fff;
  --lightLeftColBackground: #f3f3f3;
  --darkLeftColBackground: #22272b;
  --pink: #e83e8c;
  --red: #e60e0e;
  --main: #002069;
  --mainColor: #0039a0;
  --mainColor2: #0447c2;
  --menuHover: #f9c136;
  --accentColor1: #929292;
  --accentColor2: #ffb600;
  --textColor: #4c4c4c;
  --toastSuccessBg: #d1e7dd;
  --toastSuccessCl: #0f5132;
  --toastWarningBg: #fff3cd;
  --toastWarningCl: #664d03;
  --toastErrorBg: #f8d7da;
  --toastErrorCl: #842029;
  --toastSystemBg: #d3d3d4;
  --toastSystemCl: #141619;
  --warning: #ffc107;
  --green: #00b907;
  --font-name: "SVN-Circular";
}
body {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
}

.shadow-10 {
  box-shadow: 0 0 8px #ccc;
}

.shadow-top-10 {
  box-shadow: 0px 15px 5px #ff0000;
}

.radius-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.svg-nav-bot {
  font-size: 20px;
}

.svg-nav-bot path {
  stroke: var(--mainColor);
}
.table > :not(caption) > * > * {
  border-bottom-width: 0;
}
.bg-main {
  background: #f2f2f2;
}
.hv-text-main {
  color: #0039a0;
}

label {
  user-select: none;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}
input[type="text"] {
  border-radius: 10px;
}

input:focus[type="text"],
input:hover[type="text"] {
  border: 1px solid #000;
  outline: none;
}
.borders-see-more {
  border: 1px solid #f3f4f6;
}

.card-shadow {
  box-shadow: 0 0 5px #ccc;
}
.border-main-2 {
  border: 1px solid var(--main);
}
.border-main {
  border: 1px solid var(--mainColor);
}
.border-main-dashed {
  border: 1px dashed var(--mainColor);
}
.border-gray {
  border: 1px solid #ccc;
}
.border-red {
  border: 1px solid var(--red);
}

.hover-border-main:hover {
  border: 1px solid var(--mainColor);
  background: #fff;
  color: var(--mainColor) !important;
}

.hover-overlay:hover {
  animation: animateHoverOverlay 0.5s linear;
}

@keyframes animateHoverOverlay {
  0% {
    height: 0;
  }

  90% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.ban {
  pointer-events: none;
  cursor: default;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-minus-10 {
  padding: 0 -10px !important;
}

.line-1 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 1;
  height: calc(21px * 1);
  line-height: 21px;
}
.line-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: calc(21px * 2);
  line-height: 21px;
}

.border-tag {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.zoom-image:hover {
  transform: scale(1.1);
  transition: 0.3s all ease;
}

body:hover .zoom-image {
  transition-duration: 0.5s;
}

.btn-home {
  box-shadow: 0 0 8px #ccc;
  padding: 12px 0;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.btn-home:hover {
  box-shadow: 0 0 8px var(--mainColor);
}

.btn-main {
  border: 1px solid #bababa;
  background: #fafafa;
  padding: 8px 12px;
  border-radius: 10px;
  transition: 0.3s all ease;
  cursor: pointer;
  font-size: 1em;
}

input:checked[type="radio"] + span,
input:checked[type="checkbox"] + .btn-main,
.btn-main:hover,
.btn-main.clicked {
  border-color: var(--mainColor);
  color: var(--mainColor2);
}

.btn-clr-main {
  display: block;
  background: var(--mainColor);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

.tag-trip {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 0;
  padding: 0;
}

.tag-trip::before {
  position: absolute;
  content: "";
  bottom: -18%;
  left: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid #ff5500;
}

.hover-bdr-yellow:hover {
  border: 1px solid var(--menuHover);
  background: #fff;
}

.hover-bdr-yellow:hover span {
  color: var(--menuHover) !important;
}

.hover-bdr-blue:hover {
  border: 1px solid var(--mainColor);
  background: #fff;
}

.hover-bdr-blue:hover span {
  color: var(--mainColor) !important;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #fff;
}

<<<<<<< HEAD
=======
.col-5w {
  width: 20%;
}
>>>>>>> 31b5f5103ea9e358d477974b33a491c47f00187c



@media only screen and (max-width: 1300px) {
  .d-tb-none {
    display: none;
  }
  .d-tb-show {
    display: block;
  }
  .col-tb-1 {
    width: 8.33%;
  }
  .col-tb-2 {
    width: 16.66%;
  }
  .col-tb-3 {
    width: 25%;
  }
  .col-tb-4 {
    width: 33.33%;
  }
  .col-tb-5 {
    width: 41.66%;
  }
  .col-tb-6 {
    width: 50%;
  }
  .col-tb-7 {
    width: 58.33%;
  }
  .col-tb-8 {
    width: 66.66%;
  }
  .col-tb-9 {
    width: 75%;
  }
  .col-tb-10 {
    width: 83.33%;
  }
  .col-tb-11 {
    width: 91.66%;
  }
  .col-tb-12 {
    width: 100%;
  }
}
.d-lg-none {
  display: none;
}
@media only screen and (max-width: 800px) {
  .d-sm-flex {
    display: flex;
  }
  .col-tbs-1 {
    width: 8.33%;
  }
  .col-tbs-2 {
    width: 16.66%;
  }
  .col-tbs-3 {
    width: 25%;
  }
  .col-tbs-4 {
    width: 33.33%;
  }
  .col-tbs-5 {
    width: 41.66%;
  }
  .col-tbs-6 {
    width: 50%;
  }
  .col-tbs-7 {
    width: 58.33%;
  }
  .col-tbs-8 {
    width: 66.66%;
  }
  .col-tbs-9 {
    width: 75%;
  }
  .col-tbs-10 {
    width: 83.33%;
  }
  .col-tbs-11 {
    width: 91.66%;
  }
  .col-tbs-12 {
    width: 100%;
  }
}
<<<<<<< HEAD
=======

@media only screen and (max-width: 577px) {
  .d-sm-flex {
    display: flex;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
>>>>>>> 31b5f5103ea9e358d477974b33a491c47f00187c
